.store-join {/*xin*/
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  margin: 0;
  padding: 0;
}

.store-join p {
  margin: 0;
  padding: 10px;
  padding-left: 100px;
  font-size: 30px;
  line-height: 1.5;
  font-weight: bold;
  text-align: left;
}

.store-join img {
  display: block;
  width: 100%;
  height: 400px;
  object-fit: cover;
  margin: 0;
  margin-bottom: 350px;
}


body {
  margin: 0; /* 去除預設邊距 */
  font-family: Arial, sans-serif; /* 字體樣式 */
}

.overlay {
  position: absolute; /* 使用絕對定位 */
  top: 0; /* 從上方開始 */
  left: 0; /* 從左側開始 */
  right: 0; /* 佔滿右側 */
  bottom: 0; /* 佔滿底部 */
  display: flex; /* 使用彈性盒子 */
  justify-content: center; /* 置中對齊 */
  align-items: center; /* 垂直置中 */
  z-index: 1; /* 確保在圖片之上 */
}

.container {
  position: absolute; /* 使用絕對定位 */
  bottom: 200px; /* 距離底部 20 像素 */
  left: 120px; /* 距離右側 20 像素 */
  background-color: rgba(255, 255, 255); /* 背景顏色為白色，並增加透明度 */
  color: black; /* 文字顏色為黑色 */
  padding: 20px; /* 內邊距 */
  border-radius: 10px; /* 圓角 */
  text-align: left; /* 文字靠左對齊 */
  max-width: 640px; /* 最大寬度 */
  width: 100%; /* 使其寬度為 90% */
  min-height: 280px; /* 設定最小高度 */
  height: 10%; /* 高度自動調整 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 陰影效果 */
  z-index: 2; /* 確保在 overlay 之上 */
}

h3 {
  font-size: 24px; /* 字體大小 */
  margin: 0; /* 去除外邊距 */
}

h2 {
  font-size: 16px; /* 字體大小 */
  margin: 10px 0; /* 上下邊距 */
  font-weight: 300; /* 調整字體為細體 */
  line-height: 1.8; /* 增加行距 */

}

.join-button {
  margin-top: 0px; /* 按鈕上方的邊距 */
  padding: 10px 20px; /* 按鈕內邊距 */
  font-size: 16px; /* 字體大小 */
  color: white; /* 按鈕文字顏色 */
  background-color: #ff2b85; /* 按鈕背景顏色 */
  border: none; /* 去除邊框 */
  border-radius: 5px; /* 圓角 */
  cursor: pointer; /* 游標樣式 */
}

.join-button:hover {
  background-color: #d11966; /* 滑鼠懸停時的背景顏色 */
}
